@using LendWeb.ViewModels.Users

@model ObjectPageModel

@{
    ViewData["Title"] = Model.Object.Name;
}

<div class="col-md-12">

    <div class="col-md-6">
        <h1>@Model.Object.Name</h1>

        <table class="table">
            <tr>
                <td>
                    Owner
                </td>
                <td>
                    @Html.DisplayFor(model => model.User.UserName)
                </td>

            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Object.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Object.Name)
                </td>

            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Object.Added)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Object.Added)
                </td>
            </tr>
            @foreach (var item in Model.Object.Properties)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.PropertyName)
                    </td>
                    <td>
                        @item.ToString()
                    </td>
                </tr>
            }
        </table>
    </div>

    <div class="col-md-6">
        @if (Model.Object.Images.Count > 0)
        {
            <h2>Images</h2>
            <div class="row">
                @foreach (var item in Model.Object.Images)
                {
                    <div class="col-md-6">
                        <a href="~/uploads/@item" class="thumbnail">
                            <img src="~/uploads/@item" />
                        </a>
                    </div>
                }
            </div>
        }
    </div>
</div>