@using LendWeb.ViewModels.MyObjects

@model MyObjectsModel

@{
    ViewData["Title"] = "Index";
}

<h2>Your lendable objects</h2>

@if (Model.MyObjects.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MyObjects.First().Added)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyObjects.First().Name)
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model.MyObjects)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Added)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @{var action = item.Status == BLL.DTO.LendObjectDTO.LendObjectStatus.Available ? "Lend" : "MarkReturned";}
                    @{var actionText = item.Status == BLL.DTO.LendObjectDTO.LendObjectStatus.Available ? "Lend" : "Mark Returned";}
                    <a asp-action="@action" asp-route-id="@item.Id.ToString()">@actionText</a>
                </td>
                <td>
                    <a asp-action="Show" asp-route-id="@item.Id.ToString()">Details</a>
                </td>
            </tr>

        }
    </table>
}
else
{
    <div class="alert alert-info" style="max-width: 500px;">
        You haven't added any objects.
    </div>
}


<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addNewModal">Add new</button>

<h2>Your lendings</h2>
@if (Model.MyLendings.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                Lent at
            </th>
            <th>
                Borrower
            </th>
            <th>Item</th>
            <th>Status</th>
        </tr>

        @foreach (var item in Model.MyLendings)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LentAt)
                </td>
                <td>
                    @if (item.OtherUserId != null)
                    {
                        <a asp-controller="Users" asp-action="Profile" asp-route-id="@item.OtherUserId">@item.OtherUserName</a>
                    }
                    else
                    {
                        @item.OtherUserName
                    }
                </td>
                <td>
                    <a asp-action="Show" asp-route-id="@item.ItemId">@item.ItemName</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="alert alert-info" style="max-width: 500px;">
        You have no lendings.
    </div>
}

<h2>Your borrowings</h2>
@if (Model.MyBorrowings.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                Borrowed
            </th>
            <th>
                Lender
            </th>
            <th>
                Item
            </th>
            <th>Status</th>
        </tr>

        @foreach (var item in Model.MyBorrowings)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LentAt)
                </td>
                <td>
                    <a asp-controller="Users" asp-action="Profile" asp-route-id="@item.OtherUserId">@item.OtherUserName</a>
                </td>
                <td>
                    <a asp-controller="Users" asp-action="Object" asp-route-id="@item.OtherUserId" asp-route-ObjectId="@item.ItemId">@item.ItemName</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>

        }
    </table>
}
else
{
    <div class="alert alert-info" style="max-width: 500px;">
        You have no borrowings.
    </div>
}

<!-- Add new modal -->
<div id="addNewModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <form asp-action="Create">

            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add new object</h4>
                </div>

                <div class="modal-body">
                    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="AddObject.Name"></label>
                        <input asp-for="AddObject.Name" class="form-control" />
                        <span asp-validation-for="AddObject.Name" class="text-danger" />
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>

</div>
