@using LendWeb.ViewModels.MyObjects
@using Model

@model ShowModel

@{
    ViewData["Title"] = "Index";
}

<div class="col-md-12">
    <div class="col-md-6">
        <h2>@Model.ShowObject.Name</h2>
        <table class="table">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ShowObject.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ShowObject.Name)
                </td>

            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ShowObject.Added)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ShowObject.Added)
                </td>
            </tr>
            @foreach (var item in Model.ShowObject.Properties)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.PropertyName)
                    </td>
                    <td>
                        @item.ToString()
                    </td>
                </tr>
            }
        </table>

        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addPropertyModal">Add property</button>
    </div>

    <div class="col-md-6">
        @if (Model.ShowObject.Images.Count > 0)
        {
            <h2>Images</h2>
            <div class="row">
                @foreach (var item in Model.ShowObject.Images)
                {
                    <div class="col-md-6">
                        <a href="~/uploads/@item" class="thumbnail">
                            <img src="~/uploads/@item" />
                        </a>
                    </div>
                }
            </div>
        }

        <h3>Upload images</h3>

        <form asp-action="PostFile" asp-route-id="@Model.ShowObject.Id.ToString()" method="post" enctype="multipart/form-data">
            <input type="file" name="files" id="file1" />
            <input type="submit" value="Upload" />
        </form>
    </div>
</div>

<div id="addPropertyModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <form asp-action="AddObjectProperty" ng-app>

            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add new property</h4>
                </div>

                <div class="modal-body">
                    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="ShowObject.Id" type="hidden" />
                        <label asp-for="AddProperty.Name"></label>
                        <input asp-for="AddProperty.Name" class="form-control" />
                        <span asp-validation-for="AddProperty.Name" class="text-danger" />
                        <select asp-for="AddPropertyType" class="form-control" ng-model="inputType">
                            <option value="Text">Text</option>
                            <option value="Integer">Number</option>
                            <option value="Date">Date</option>
                        </select>
                        <input asp-for="AddProperty.Date" type="date" class="form-control" ng-show="inputType == 'Date'" />
                        <input asp-for="AddProperty.Number" type="number" class="form-control" ng-show="inputType == 'Integer'" />
                        <input asp-for="AddProperty.Text" type="text" class="form-control" ng-show="inputType == 'Text'" />
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>

</div>